*aapl_daily.csv
*all_tickers_daily.csv
*amd_daily.csv
*avgo_daily.csv
*googl_daily.csv
*ibm_daily.csv
*meta_daily.csv
*msft_daily.csv
*nvda_daily.csv
*orcl_daily.csv
*tsla_daily.csv
*2300_daily.csv
*7040_daily.csv
*8180_daily.csv
